html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}